body{
    margin: 0;
}
header{
    height: 56px;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.logo-container {
    height: 48px;
    width: 48px;
}
.logo{
    width: 48px;
    height: auto;
}
main{
    font-family: Arial;
    height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
}